:root {
    /* Block sizes */
    --content-width: 900px;
    --main-width: 600px;
    --sidebar-width: 280px;
    --header-height: 60px;

    /* Font sizes */
    --font-size: 16px;
    --h1-size: 20px;
    --h3-size: 18px;
    --h5-size: 16px;

    /** Margins */
    --nav-link-padding: 16px;
    --nav-link-mobile-padding: 24px;

    /* Colors */
    --link-color: #67b73a;
    --error-color: #97471a;
    --error-bgcolor: #f7b7ba;
    --success-color: #47971a;
    --success-bgcolor: #b7f7ba;
    --pre-background: #efe;
    --font-color: #333;
    --subtitle-color: #757575;
    --cat-link-color: #608d7b;
    --cat-outline-color: #b0ddcb;    
    --heading-bgcolor: #51a82d;
    --heading-mobile-bgcolor: #31880d;
    --heading-hover-bgcolor: #41981d;
    --heading-font-color: #fff;
    --footer-bgcolor: #608d7b;
    --box-shcdow-color: #ccc;
  }

@font-face 
{
  font-family: roboto;
  src: url(roboto.ttf);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: var(--font-size);
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

.body-container {
    max-width: var(--content-width);
    margin: auto;
    height: 100%;
}
.clear {
    clear: both;
}

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    padding-top: var(--header-height);
    color: var(--font-color);
}

a
{
    text-decoration: none;
    color: var(--link-color);
}

p, h1, h2, h3, h4, h5, h6, hr, ul, ol, blockquote, pre
{
    margin-bottom: var(--nav-link-padding);
}

pre
{
    background: var(--pre-background);
    padding: var(--nav-link-padding);
    padding-left: var(--nav-link-mobile-padding);
    border-left: 4px solid var(--footer-bgcolor);
}

code
{
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1, h2
{
    font-size: var(--h1-size);
}

h3, h4
{
    font-size: var(--h3-size);
}

h5, h6
{
    font-size: var(--h5-size);
}

blockquote
{
    font-style: italic;
    border-left: 4px solid var(--footer-bgcolor);
    padding-left: var(--nav-link-padding); 
    margin-left: var(--nav-link-mobile-padding);
}

li
{
    margin-left: 30px;
}

img
{
    max-width: 100%;
}

header {
    width: 100%;
    height: var(--header-height);
    background: var(--heading-bgcolor);
    font-weight: bold;
    position: fixed;
    box-shadow: 2px 2px 2px var(--box-shcdow-color);
    top: 0;
}

header a {
    color: var(--heading-font-color);
    text-decoration: none;
    background: var(--heading-bgcolor);
}
nav a:hover {
    background-color: var(--heading-hover-bgcolor);
    transition: 0.2s linear;
}

.logo, nav, .nav {
    height:100%;
    width: min-content;
    display: flex;
    align-items: center;    
}

.logo {
    float: left;
}

nav {
    float: right;
}

.logo, .nav {
    padding: 0 var(--nav-link-padding);
}
	
.menu-btn{
    cursor: pointer;
    float: right;
    padding: 30px 20px;
    display: none;
}
 
.menu-btn-line {
    background: var(--heading-font-color);
    display: none;
    height: 2px;
    position: relative;
    width: 24px;
}
 
.menu-btn-line::before,
.menu-btn-line::after{
    background: var(--heading-font-color);
    content: '';
    display: none;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.menu-btn-line::before{
    top: 5px;
}

.menu-btn-line::after{
    top: -5px;
}
 
.header-menu {
    display: none;
}

.header-menu:checked ~ .menu-btn .menu-btn-line {
    background: transparent;
}
.header-menu:checked ~ .menu-btn .menu-btn-line::before {
    transform: rotate(-45deg);
    top:0;
}
.header-menu:checked ~ .menu-btn .menu-btn-line::after {
    transform: rotate(45deg);
    top:0;
}

.error, .success {
    padding: var(--nav-link-padding);
    margin-bottom: var(--nav-link-padding);
    width: inherit;
}

.error ul, .success ul {
    margin-bottom: 0;
}

.error {
    background: var(--error-bgcolor);
    color: var(--error-color);
}

.success {
    background: var(--success-bgcolor);
    color: var(--success-color);
    border: 1px solid var(--success-border-color);
}

.main, .sidebar {
    margin: var(--nav-link-padding) 0;
}

.main
{
    width: var(--main-width);  
    float: left;
    display: flex;
    padding-right: var(--nav-link-padding);
    flex-direction: column;
}

.sidebar
{
    width: var(--sidebar-width);
    float: right;
}

.title
{
    width: 100%;
    border-bottom: 3px solid var(--footer-bgcolor);
    overflow: auto;
}

.title_tab
{
    background: var(--heading-bgcolor);
    padding: var(--nav-link-padding);
    float: left;
    color: var(--heading-font-color);
    font-size: var(--h5-size);
    font-weight: bold;
}

.title_etc 
{
    float: right;
    padding: var(--nav-link-padding) 0;
    color: var(--subtitle-color);
    font-size: var(--h5-size);
}

.title_etc a
{
  color: var(--subtitle-color);
}

.title_etc a:hover
{
    text-decoration: underline;
}

.post_title
{
    color: var(--font-color); 
}

.categories a
{
    padding: var(--nav-link-padding) 0;
    display: block;
    border-bottom: 1px solid var(--cat-outline-color);
    color: var(--cat-link-color);
    transition: 0.2s linear; 
}

.categories a:hover
{
    padding: var(--nav-link-padding) 5px;
}

.content
{
    padding: var(--nav-link-padding) 0;   
    font-size: var(--font-size); 
}

.comment_content
{
    padding-top: var(--nav-link-padding);  
}

input, textarea, select, option, .button
{
    padding: var(--nav-link-padding);
    margin: var(--nav-link-padding) 0;
    border: 1px solid var(--footer-bgcolor);

    outline: none;
    background: var(--heading-font-color); 
}

.button
{
    background: var(--heading-bgcolor);
    color: var(--heading-font-color);  
    border: 2px solid var(--heading-bgcolor);
    transition: color 0.2s linear;  
}

.editor
{
    width: 100%;
}

.button:hover
{
    background: var(--heading-font-color);
    color: var(--heading-bgcolor);
 
}

.input_id, .input_name, .input_button
{
    display: flex;
    float: left;
}

.input_id
{
    width: 10%;  
}

.input_name
{
    width: 70%;
    border-left: 0px;  
}

.input_button
{
    width: 10%;
    border: 1px solid var(--heading-bgcolor); 
}

.center
{
    text-align: center;
}

footer
{
    background: var(--footer-bgcolor);
    color: var(--heading-font-color);
    box-shadow: -2px -2px 2px var(--box-shcdow-color);
    font-size: 14px;
    height: 80px;
    padding-top: 10px;
}

.footer_copy, .footer_text {
    padding: 0 var(--nav-link-padding);
    width: fit-content;
}

.footer_copy
{
    float: left;                       
}

.footer_text
{
    float: right;
    text-align:right;
}

footer a
{
    color: var(--heading-font-color);
    text-decoration: underline;  
}

@media only screen and (max-width: 900px) {
    .logo {
        padding: 0 var(--nav-link-padding);
    }
    .menu-btn-line::after, 
    .menu-btn-line::before,
    .menu-btn-line,
    .menu-btn {
        display: flex;
        float: right;
    }
    nav, .nav {
        margin-top: -2px;
        width: 100%;
        display: block;
    }
    .nav {
        padding: var(--nav-link-mobile-padding);
        height: auto;
    }
    nav a {
        background: var(--heading-mobile-bgcolor);
    }
    .header-menu:checked ~ nav{
        display: block;
    }
    .header-menu:not(:checked) ~ nav{
        display: none;
    }
    .main, .sidebar {
        width:inherit;
        display: block;
        padding: 0 var(--nav-link-padding);
        float: none;
    }
}